@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
  /*Web sizes*/

  --mobile:375px;
  --desktop:1440px;
  
  /*Dark Mode*/
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%) ; /*Dark Mode Background*/

  --white: hsl(0, 0%, 100%);


  /*Font Sizes*/
  --font-size-small: 14px;
  --font-size-medium: 16px;

  /*Font Weights*/
  --font-weigts-light: 300;
  --font-weigts-regular: 600;
  --font-weigts-bold: 800;

}


* {
  margin: 0;
  padding: 0;
   font-family: 'Nunito Sans';
   
}

.App {
  
background-color: var(--very-dark-blue);
 
}
.content{
  max-width: var(--desktop);
  margin: auto;
}

img {
  max-width: 100%;
  cursor: pointer;
}

button {
  cursor: pointer;
}