.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.selectBtn{
    display: flex;
    gap: 1em;
    align-items: center;

    padding: 1.25em 1em 1.25em 2em;

    border-radius: 8px;
    cursor: pointer;

    background-color: var(--dark-blue);
    transition: background-color 0.5s ease;

    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
            
}

.btnText {
    font-weight: var(--font-weigts-light);
    color: var(--white);
    opacity: .75;
    width: 6.7em;
    
}
.selectBtnn .arrowDwn {
    display: flex;
    align-items: center;
    
}

.listItems {
    position: absolute;
    margin-top: 22em;
    
    border-radius: 8px;
    
    background-color: var(--dark-blue);
    
    transform: scale(0.01);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.5s ease;
    transform-origin: center top;

    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);

    z-index: 1;
}

.selectBtn.open ~ .listItems {
    
    color: var(--white);
    transform: scale(1);
        opacity: 1;
}

.listItems .item {
    display: flex;
    align-items: center;
    width: 11.9em;
    justify-content: space-between;
    cursor: pointer;
    padding: 1em 1em 1em 1em;
   
}
.listItems .item:hover {
    background-color: var(--very-dark-blue);
    transition: background-color 0.5s ease;
}
.listItems .item.lightMode:hover{
    background-color: rgb(238, 238, 238);
}

.selectBtn.lightMode, .listItems.lightMode{
    background-color: var(--white);
}

.btnText.lightMode, .selectBtn.open~.listItems.lightMode{
    color: var(--very-dark-blue-text);
}
