.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
}

.searchBox {
    background-color: var(--dark-blue);
    transition: background-color 0.5s ease;

    padding: 1.25em 1em 1.25em 2em;
    margin-block: 2em;
    display: flex; 
    gap: 1.5em;
    cursor:text;
    border-radius:.5em;
    width: 40%;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.07);
}



.searchInput {
    border: 0;
    background-color: var(--dark-blue);
    transition: background-color 0.5s ease;
    color: var(--white);
    width: 100%;
    font-size: var(--font-size-medium);
}


@media (max-width:700px) {
    .container {
        flex-direction: column;
        align-items: start;
        margin-bottom: 3em;
        gap: 1em;
    }
        .searchBox{
            width: 100%;
        }
}

.searchInput::placeholder {
    color: var(--white);
    opacity: .75;
}

.searchInput:focus{
outline: none;
}
.searchButton{
    border: 0;
    background-color: var(--dark-blue);
    transition: background-color 0.5s ease;
    display: inline-flex;
}


.dropList{
    background-color: var(--dark-blue);
    transition: background-color 0.5s ease;
    color: var(--white);
    padding: 0em 2em;
    margin-block: 2em;
    display: flex;
    gap: 1.5em;
    cursor: pointer;
    border-radius: .5em;
    border: 0;
    border-right: 16px solid transparent;
    
}
.dropList:active {
    outline: none;
    
}


.dropOptions{
    border: 0;
    background-color: white;
}


.searchBox.lightMode,
.searchInput.lightMode,
.searchButton.lightMode,
.dropList.lightMode {
    background-color: var(--white);
}

.searchInput.lightMode,.searchInput.lightMode::placeholder, .dropList.lightMode{
    color: var(--very-dark-blue-text);
}


