.centerStatus {
    text-align: center;
    font-size: var(--font-size-large);
    height: 100vh;
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 5em 0;

}

.centerStatus.lightMode {
    color: var(--very-dark-blue-text);
    background-color: var(--white);
}